*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    font-family: 微软雅黑;
}
header{
    width:100%;
    height:0.88rem;
    background: #ec1515;
}
.return{
    width:0.45rem;
    height:0.46rem;
    display: block;
    background: url("../img/3-fanhui.png") no-repeat;
    background-size: cover;
    margin-left:0.24rem;
    margin-top: 0.21rem;
    float: left;
}
.head-title{
    font-size: 0.3rem;
    color:#fff;
    /*text-align: center;*/
    line-height: 0.4rem;
    text-indent:2.45rem;
    padding-top:0.13rem;
}
.fu-title{
    display: block;
    width:1.5rem;
    height:0.17rem;
    background: url("../img/3-title.png") no-repeat;
    background-size: cover;
    margin:auto;
    z-index:22;
    margin-top:0.06rem;
}
section{
    width: 100%;
    height:5.4rem;
    /*background: yellow;*/
}
.content{
    width: 100%;
    height:100%;
    padding:0 0.24rem;
    padding-top:0.21rem;
}
.oldbox{
    width:100%;
    height:0.95rem;
    background: #fff;
    border-radius: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0 0.1rem 0.01rem #cacaca;
    margin-bottom: 0.1rem;
}
.old-text{
    width:1.72rem;
    height:100%;
    /*text-align: center;*/
    line-height: 0.95rem;
    float: left;
    font-size: 0.27rem;
    font-weight: bold;
    color:#3b3e49;
    letter-spacing: 0.04rem;
    padding-left:0.32rem;
}
.old-pass{
    float: left;
    border: none;
    width:5.3rem;
    height:0.95rem;
    outline: none;
    color:#646464;
    font-size: 0.22rem;
    line-height: 0.95rem;
    letter-spacing: 0.03rem;
}
.loginBtnbox{
    width:100%;
    height:2.03rem;
    /*background: blueviolet;*/
    padding:0 0.43rem;
    padding-top:0.52rem;
}
.loginBtn{
    width:6.16rem;
    height:0.99rem;
    /*background: blue;*/
    margin-top:0.52rem;
    border-radius: 0.1rem;
    background: url("../img/3-enter.png") no-repeat;
    background-size: cover;
}
.btn{
    width:6.16rem;
    height:0.99rem;
    border: none;
    font-style: normal;
    background: none;
    margin:0;
    padding:0;
    outline: none;
}